ul {
  list-style-type: none;
}

.navBarItems{
  color: yellowgreen;
  display: flex;
  font-size: large;
  padding: 10px;
  /* align-items: center; */
  margin: 20px;
  /* border-bottom:1px solid #444547; */
  box-shadow: 1px 1px 1px 1px #444547;
}

.navBarInside{
  /* display: flex; */
  margin-left: 80px;
  align-items: center;
}

.navBarInsideLink{
  /* border-bottom: none; */
  text-decoration: none;
  color: yellowgreen;
  /* right: 0%; */


}
